body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/public/bg2.jpg);
  background-size: cover;
  color: #f2f2f2;
}

.intro {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

.container {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  max-width: 1080px;
  display: flex;
  align-items: start;
  gap: 60px;
}

.question-container {
  flex-basis: 70%;
  height: 100%;
  height: 500px;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 20px;
}

.question-container.show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-prompt {
  font-size: 18px;
  margin-bottom: 10px;
}

.answer-options {
  display: flex;
  flex-direction: column;
}

.answer-options.showAnswer .correct-answer {
  background-color: rgb(76, 247, 195);
  border-radius: 10px;
  color: black;
  transition: all 0.5s ease;
}

.answer-options .wrong-answer {
  background-color: rgb(247, 82, 76) !important;
  border-radius: 10px;
  color: black;
  transition: all 0.3s ease;
}

.answer-option {
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.answer-option:hover {
  background-color: rgb(76, 247, 195, 0.1);
  border-radius: 10px;
}

.question-bottom {
  width: 100%;
  text-align: center;
}

.column-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-basis: 30%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.column-container-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
}

.column {
  flex-basis: 25%;
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  padding: 10px;
  margin-right: 10px;
  transition: height 0.3s ease;
  position: relative;
}

.column-text {
  position: absolute;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}

.column-team-name {
  text-align: center;
}

.column:last-child {
  margin-right: 0;
}

button {
  background-color: #ffbc3e;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffce63;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    #ffc837 51%,
    #ff8008 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad-2 {
  background-image: linear-gradient(
    to right,
    #f857a6 0%,
    #ff5858 51%,
    #f857a6 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-grad-2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  padding: 10px 20px;
}

.button-group button {
  padding: 0 5px;
  border-radius: 5px;
  width: 20px;
}

.reset {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
